body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:url('./images/foto.jpeg.jpg');
  background-repeat: no-repeat;
  background-size:cover; 
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bgimg{
  /* background-color: red; */
  padding-right: 65px; 
  min-height: 500px;
  max-height: 100%;
}
.bgbuttons{
  position: absolute;
  left: 40%;
  padding-top: 205px; 

}
/* preciso do rgb */
.footer {
  background:#00bbbd;
  width: 100%;
  height: 28px;
  display: flex;
  position: absolute;
  background-position-y: bottom;
  bottom: 0;
  left: 0;
  padding-left: 42%;
  color: 1px solid black;
  font-size: 20px;
}
.inform{
  position: relative;
  margin: auto;
  padding-top: 105px; 
  min-width: 100%;
  max-height: 100%;
  text-align: center;

}
.question{
 padding: 25px;
}
.textArea{
  position: relative;
  margin: auto;
  padding:auto;
  text-align: center;
  padding-bottom: 130px;
}
.rankingPanel{
  position: relative;
  margin: auto;
  padding:auto;
  text-align: center;
  margin-top: 50px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.8;
  font-weight: bold;
  font-size: 25px;
  color: #000000
}
.alternativa{
  padding: 50px;
  margin-top: 10px;
}

.nav{
  display: inline;
}

.header{
  background:#00bbbd;
  width: 100%;
  position: relative;
  left: 0;
  border-color: red ;
  
}