body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:url('./images/foto.jpeg.jpg');
  background-repeat: no-repeat;
  background-size:cover; 
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bgimg{
  padding-right: 65px; 
  min-height: 500px;
  max-height: 100%;
}
.bgbuttons{
  position: absolute;
  left: 40%;
  padding-top: 205px; 

}
.footer {
  background:#00bbbd;
  width: 100%;
  height: 28px;
  display: flex;
  position: absolute;
  background-position-y: bottom;
  bottom: 0;
  left: 0;
  padding-left: 42%;
  color: 1px solid black;
  font-size: 20px;
}

.textArea{
  position: relative;
  margin: auto;
  padding:auto;
  text-align: center;
  padding-bottom: 130px;
}
.rankingPanel{
  position: relative;
  margin: auto;
  padding:auto;
  text-align: center;
  margin-top: 50px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.8;
  font-weight: bold;
  font-size: 25px;
  color: #000000;
}
.question{
  position: relative;
  text-align: center;
  background-color: #ffffff;
  opacity: 0.9;
  font-size: 22px;
  color: #000000;
  border-radius: 25px;
  padding-bottom: 1px;
  padding-top: 10px;
  margin-left: 10px;
  
}
.quest{
  margin-left: -12px;
}
.alternative {
  position: relative;
  text-align: center;
  background-color: #ffffff;
  font-size: 18px;
  color: #000000;
  border-radius: 25px;
  margin-left: 10px;

}

.header{
  background:#00bbbd;
  width: 100%;
  position: relative;
  left: 0;
  border-color: red ;
}

.display-2{
  /* padding-top: 130px;
  margin-top: 130px; */

  background-repeat: no-repeat;
  background-color:white;
  opacity: 0.85;
  position: relative;
  margin: auto;
  padding:auto;
  text-align: center; 
  position: relative;
  margin-top: 50px;
  font-weight: bold;
}

.textSend{
    /*margin-top: 30px;
  padding-bottom: 150px; */
   padding-top: 45px;
  background-color:white;
  background-repeat: no-repeat;
  opacity: 0.9;
  font-size: 25px;
  position: relative;
  margin: auto;
  padding:auto;
  text-align: center; 
}

.space{
  flex: 1;
}
.fundo{
  background-color: white;
  margin-left: 8px;
  padding: 8.8px;
  border-radius: 15px;
  opacity: 0.9;
}

.center{
  text-align: center;
}